

.square {
    background-color: aqua;
    border: black 1px solid;
    width:30px;
    height:30px;
}

.square_empty{
    width:30px;
    height:30px;
}

.valence, .atomicmass,.atomname{
    font-size: 6px;
    border-bottom: 0;
}

.symbol {
    font-size: 12px;
    border-bottom: 0;
}
